<div fxLayout="row" fxLayoutGap="10px" fxLayout.xs="column" style="margin: 5px;" class="animate__animated animate__fadeIn">

  <mat-form-field appearance="fill" fxFlex="50">
    <mat-label>Buscar</mat-label>
    <input type="text"
           aria-label="Buscar Productos"
           matInput
           [(ngModel)]="termino"
           (keyup.enter)="buscando()"
           required>
  </mat-form-field>

  <div fxLayoutGap="10px" fxLayout.xs="row">
    <mat-form-field>
      <mat-label>Tipor de Busqueda</mat-label>
      <mat-select [(ngModel)]="tipoDeBuscada"
                  style="height: 27px;"
                  required>
          <mat-option *ngFor="let x of TiposBuscador"
                      [value]="x.id">
                      {{x.desc}}
          </mat-option>
    </mat-select>
  </mat-form-field>

  <button mat-raised-button 
          style="height: 50px; max-width: 30px;"
          color="primary"
          (click)="buscando()">
    <mat-icon>search</mat-icon>
  </button>
  </div>

</div>

<div>
  <h2 style="margin: 5px" class="animate__animated animate__fadeIn">Cupones</h2>
</div>

<div class="example-container mat-elevation-z8" style="margin: 5px;">
  <table mat-table [dataSource]="cupones" class="mat-lifting-z8 demo-table">

    <ng-container matColumnDef="nombre">
      <th mat-header-cell *matHeaderCellDef class="animate__animated animate__fadeIn"> NOMBRE </th>
      <td mat-cell *matCellDef="let cupon" class="animate__animated animate__fadeIn"> {{cupon.nombre | titlecase}} </td>
    </ng-container>

    <ng-container matColumnDef="codigo">
      <th mat-header-cell *matHeaderCellDef class="animate__animated animate__fadeIn"> CODIGO </th>
      <td mat-cell *matCellDef="let cupon" class="animate__animated animate__fadeIn"> {{cupon.codigo}} </td>
    </ng-container>

    <ng-container matColumnDef="usos">
      <th mat-header-cell *matHeaderCellDef class="animate__animated animate__fadeIn"> USOS </th>
      <td mat-cell *matCellDef="let cupon" class="animate__animated animate__fadeIn"> {{cupon.usos}} </td>
    </ng-container>

    <ng-container matColumnDef="valor">
      <th mat-header-cell *matHeaderCellDef class="animate__animated animate__fadeIn"> VALOR </th>
      <td mat-cell *matCellDef="let cupon" class="animate__animated animate__fadeIn"> {{cupon.valor | currency}}</td>
    </ng-container>

    <ng-container matColumnDef="porcentaje">
      <th mat-header-cell *matHeaderCellDef class="animate__animated animate__fadeIn"> PORCENTAJE </th>
      <td mat-cell *matCellDef="let cupon" class="animate__animated animate__fadeIn"> {{cupon.porcentaje}}% </td>
    </ng-container>

    <ng-container matColumnDef="tipo">
      <th mat-header-cell *matHeaderCellDef class="animate__animated animate__fadeIn"> TIPO </th>
      <td mat-cell *matCellDef="let cupon" class="animate__animated animate__fadeIn"> {{cupon.tipo}} </td>
    </ng-container>

    <ng-container matColumnDef="botones2">
      <th mat-header-cell *matHeaderCellDef style="padding-left: 5px;" class="animate__animated animate__fadeIn">
        <button mat-raised-button routerLink="/gestion/cupon/agregar" color="primary">
          <mat-icon>add</mat-icon>
        </button>
      </th>
      <span></span>
      <td mat-cell *matCellDef="let usuario" style="padding-left: 5px;" class="animate__animated animate__fadeIn">
        <a mat-raised-button (click)="eliminarCupon(usuario)" color="warn">
          <mat-icon>cancel</mat-icon>
        </a>
      </td>
    </ng-container>

    <tr mat-header-row *matHeaderRowDef="displayedColumns; sticky: true"></tr>

    <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>

  </table>
</div>