<mat-card style="max-width: 600px;">
    <h1> Comprobante <small></small></h1>

    <div fxLayout="row" class="animate__animated animate__fadeIn" fxLayout.xs="column">

        <div fxLayout="row" fxLayoutGap="40px" class="animate__animated animate__fadeIn" fxLayout.xs="column"
            fxFlex="100">

            <div fxLayout="column" fxFlex="100">

                <mat-form-field>
                    <mat-label>N°</mat-label>
                    <input matInput type="text" [(ngModel)]="comprobante.numero" required disabled>
                </mat-form-field>

                <mat-form-field>
                    <mat-label>Fecha</mat-label>
                    <input matInput type="text" [(ngModel)]="comprobante.fecha" required disabled>
                </mat-form-field>

                <div style="margin-bottom: 20px;">
                    <h2>Detalle</h2>

                <div class="example-container mat-elevation-z8" fxLayoutGap="40px">
                    <table mat-table [dataSource]="detalle.detComprobante.productos"
                        class="mat-lifting-z8 demo-table animate__animated animate__fadeIn">

                        <ng-container matColumnDef="titulo" class="animate__animated animate__fadeIn">
                            <th mat-header-cell *matHeaderCellDef> TITULO </th>
                            <td mat-cell *matCellDef="let producto"> {{producto.titulo}} </td>
                        </ng-container>

                        <ng-container matColumnDef="precio" class="animate__animated animate__fadeIn">
                            <th mat-header-cell *matHeaderCellDef> PRECIO/U </th>
                            <td mat-cell *matCellDef="let producto"> {{producto.precio}} </td>
                        </ng-container>

                        <ng-container matColumnDef="isbn" class="animate__animated animate__fadeIn">
                            <th mat-header-cell *matHeaderCellDef> ISBN </th>
                            <td mat-cell *matCellDef="let producto"> {{producto.isbn}} </td>
                        </ng-container>

                        <ng-container matColumnDef="cantidad" class="animate__animated animate__fadeIn">
                            <th mat-header-cell *matHeaderCellDef> CANTIDAD </th>
                            <td mat-cell *matCellDef="let producto"> {{producto.cantidad}} </td>
                        </ng-container>

                        <tr mat-header-row *matHeaderRowDef="displayedColumns; sticky: true"></tr>

                        <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>

                    </table>
                </div>
                </div>

                <mat-form-field>
                    <mat-label>Total</mat-label>
                    <input matInput type="text" [(ngModel)]="comprobante.total" required disabled>
                </mat-form-field>
            </div>
        </div>
    </div>
</mat-card>